<h1>liste des taches</h1>

<% @tasks.each do |task| %>
  <h2><%= task.nom %></h2>
  <p><%= task.date %></p>
  <p>
<a href="<%= task_path(task.id)%>" class="btn btn-primary">detail</a>
<a href="<%= edit_task_path(task.id)%>" class="btn btn-primary">editer</a>
<a href="<%= task_path(task.id) %>" class="btn btn-danger" data-confirm="êtes vous sûr?" data-method="DELETE">Supprimer</a>
  </p>
<% end %>

<p>
  <a href="<%= new_task_path %>" class="btn btn-success" >ajouter une tache</a>
</p>
